@import 'bootstrap/scss/bootstrap';
@import 'react-toastify/scss/main';
@import 'toastify';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

body {
  font-family: 'Cormorant Garamond', serif;
}

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}

.custom-map-control-button:hover {
  background: rgb(235, 235, 235);
}

.search-box {
  box-sizing: border-box;
  border: 1px solid transparent;
  width: 240px;
  height: 32px;
  padding: 0 12px;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  outline: none;
  text-overflow: ellipses;
  position: absolute;
  top: 5px;
  right: 140px;
}

.restaurant-info-window {
  font-family: 'Cormorant Garamond', serif;
  background-color: rgb(52, 51, 51);
  color: rgb(254, 192, 84);
  padding: 15px;

}

.gm-style .gm-style-iw-c {
  padding: 0 !important;
  border-radius: 0 !important;
}

.gm-style-iw-d {
  overflow: hidden !important;
}

.gm-style-iw-tc::after {
  background-color: rgb(52, 51, 51) !important;
}

.direction-link {
  font-size: 18px;
  margin-bottom: 5px;
}

.gm-ui-hover-effect {
  width: 40px !important;
  height: 40px !important;
  opacity: none !important;
}

.restaurant-title {
  margin-bottom: 5px;
  font-size: 25px;
  font-style: italic;
}

.restaurant-info {
  margin-bottom: 5px;
  font-size: 16px;
}

.restaurant-info-bold {
  font-weight: 500;
}

.linear-distance-button {
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.restaurants-list {
  display: block;
  height: 600px;
  padding-right: 0;
}

.restaurant-card {
  cursor: pointer;
  background-color: rgb(31, 31, 31);
  border: 0;
  border-bottom: 2px solid black;
  color: rgb(254, 192, 84);
  font-family: 'Cormorant Garamond', serif;
  border-radius: 0;
}

.restaurant-card-title {
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-size: 22px;
  font-weight: 600;
}

.navbar {
  background-color: rgb(14, 67, 48);
}

.brand-title {
  width: 65%;
}

.nav-links {
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
}

.nav-color {
  color: rgb(254, 192, 84) !important;
}

.dropdown-toggle::after {
  color: rgb(254, 192, 84) !important;
}

.card-restaurant-info {
  margin-bottom: 2px;
}


.card-footer {
  border-top: 0;
  padding-top: 0;
  background-color: rgb(31, 31, 31);
}

.homepage {
  width: 100%;
  height: 800px;
  background-color: rgb(17, 45, 32);
  text-align: center;
}

.logo {
  padding-top: 70px;
  padding-bottom: 20px;
  width: 80%;
}

.link-to-map {
  width: 80%;
}

.link-to-map:hover {
  color: rgb(254, 192, 84);
}

.card-icons {
  padding-right: 5px;
}
.restaurant-page-container{
  background-color: rgb(236, 227, 218);
  min-height: 600px;
  padding-bottom: 50px;
}
.restaurants-list-container{
  margin-top: 5px;
}

.restaurant-page-card {
  border-radius: 0;
  border: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 2px 9px 31px 2px;
  background-color: rgb(236, 227, 218);
  font-size: 20px;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}
.restaurant-page-card-body{
  padding: 5px;
}
.restuarant-name{
  font-size: 35px;
  color: rgb(87, 55, 0);
  font-style: italic;
}
.restaurant-title-underline{
  color: rgb(87, 55, 0);
  height: 4px;
  width: 230px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 10px;
}
.restaurant-photo{
  width: 100%;
  max-height: 400px;
}
.col-photo-restaurant {
  text-align: center;
  margin: auto;
}
.media-icons {
  font-size: 25px;
  color:  rgb(87, 55, 0);
}
.table {
  margin-bottom: 5px;
}

.card-image {
  object-fit: cover;
  border-bottom: 2px solid black;
}

.table > :not(caption) > * > * {
  border: 0;
  padding-bottom: 0;
}
.gm-svpc, .gm-style-mtc {
  display: none;
}

.upload-photos-button{
  background-color: rgb(52, 51, 51);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    font-size: 20px;
}
.filter-button {
  background-color: rgb(210, 149, 44);
  color: black;
  border: 0;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2px;
}
.upload-photos-button:hover, .filter-button:hover {
  background-color: rgb(254, 192, 84) !important;
  color: black !important;
}
.filters-container{
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(17, 45, 32);
  margin: 0;
  margin-bottom: 5px;
}
.filter-form-group {
  background-color: rgb(210, 149, 44);
  border: 0;
  border-radius: 2px;
}
@media only screen and (min-width: 992px) {
  /* For desktop: */

  .logo {
    padding-top: 70px;
    padding-bottom: 20px;
    width: 22%;
  }

  .link-to-map {
    width: 25%;
  }

  .homepage {
    height: 600px;
  }

  .search-box {
    top: 10px;
    right: 55px;
  }
  .filters-container{ 
    margin-bottom: 0;
  }
  .restaurants-list-container{
    margin-top: 0;
  }
}