@import 'bootstrap/scss/bootstrap';
@import 'react-toastify/scss/main';
@import 'toastify';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}

.custom-map-control-button:hover {
  background: rgb(235, 235, 235);
}


.search-box {
  box-sizing: border-box;
  border: 1px solid transparent;
  width: 240px;
  height: 32px;
  padding: 0 12px;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  outline: none;
  text-overflow: ellipses;
  position: absolute;
  top: 10px;
  right: 55px;
}

.restaurant-info-window {
    background: white;
		border: 1px solid #ccc;
		padding: 15px
}

.restaurant-info {
  margin-bottom: 5px;
}
.restaurant-info-bold {
  font-weight: 500;
}

.linear-distance-button {
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.restaurants-list {
  display: block;
  height: 600px;
  padding-right: 0;
}

.restaurant-card {
  cursor: pointer;
  background-color: rgb(31, 31, 31);
  border: 0;
  color: rgb(254, 192, 84);
  font-family: 'Cormorant Garamond', serif;
    border-radius: 0;
}
.restaurant-card-title{
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-size: 22px;
}

.navbar {
  background-color: rgb(14, 67, 48);
}
.brand-title {
  width: 60%;
}
.nav-links {
  font-family: 'Cormorant Garamond', serif;;
  font-size: 20px;
}
.nav-color {
  color: rgb(254, 192, 84) !important;
}

.dropdown-toggle::after {
  color: rgb(254, 192, 84) !important;
}
.card-restaurant-info {
  margin-bottom: 0;
}

.homepage {
  width: 100%;
  height: 600px;
  background-color: rgb(17, 45, 32);
  text-align: center;
}

.logo {
  padding-top: 70px;
  padding-bottom: 20px;
  width: 20%;
}

.link-to-map {
 width: 30%;
}

.link-to-map:hover {
  color: rgb(254, 192, 84);
}